@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Roboto:wght@500&display=swap');



:root {
      --header-height: 3.5rem;      /* ตัวแปร ความสูงของส่วนหัวหน้าเว็บ = 21px*/

      /* กำหนดสี */
      --home-color: hsl(270, 65%, 65%);
      --title-color: hsl(207, 4%, 16%);
      --text-color: hsl(207, 4%, 28%);
      --text-color-right: hsl(207, 4%, 56%);
      --body-color: hsl(207, 4%, 99%);
      --container-color: hsl(207, 4%, 95%);
            



      /* ตกแต่งสี */
      --style-color: gradient(180deg,
                        hsla(207, 48%, 72%, 0),
                        hsla(207, 65%, 65% , 1));


      /* ตัวอักษรกับขนาด .5rem = 8px | 1rem = 16px*/
      --home-font: 'Kanit', sans-serif;
      --first-font: 'Roboto', sans-serif;
      --big-font: 1.5rem; /* rem = รีม */
      --h1-size-font: 1.5rem;
      --h2-size-font: 1.25rem;
      --h3-size-font: 1rem;
      --regular-size: .1rem;
      --reduced-size: .938rem; /* ขนาดเล็ก หรือ small */
      --smaller-size: .75rem; /* ขนาดเล็กกว่า */
      --minimum-size: .625rem; /* ขนาดเล็กที่สุด */
      

      /* ความหนาตัวอักษร */
      --medium-font: 500; /* ขนาดปานกลาง */ 
      --center-font: 600; /* ขนาดกึ่งกลาง หรือ semi-bold */

      /* ค่าดัชนี */
      --z-normal: 1;
      --z-tooltip: 10; /* เคล็ดลับ */
      --z-fixed: 100; /* คงที่ */
} 

      /* ขนาด Desktop */
@media screen and (min-width: 1024px){ 
      root {
            --big-font: 3rem; /* อักษรขนาดใหญ่ */
            --h1-size-font: 2.25rem;
            --h2-size-font: 1.5rem;
            --h3-size-font: 1.25rem;
            --regular-size: .1rem;   /* ขนาดปกติ หรือ normall */
            --reduced-size: .875rem; /* ขนาดเล็ก หรือ small */
            --smaller-size: .813rem; /* ขนาดเล็กกว่า */
            --minimum-size: .688rem; /* ขนาดเล็กที่สุด หรือ tiny */
      }
}

*{ /* ค่าหลักหน้าเว็ป */
      padding: 0;
      margin: 0;
      box-sizing: border-box;    
}


html{
      scroll-behavior: smooth; /* เลื่อนหน้าเว็บมีความสมูท */
}

body{
      font-family: var(--body-color);
      font-size: var(--reduced-size);
      background-color: var(--body-color);
      color: var(--text-color);
}

h1,h2,h3{
      color: var(--title-color);
      font-family: var(--title-color);
      font-weight: var(--medium-font);
}

ul{
      list-style: none; /* ลบสัญลัก เช่น • */
}

a{
      text-decoration: none; /* ลบเส้นใต้ข้อความ */
}

img{
      max-width: 100%; /* ภาพขนาดใหญ่สุดได้แค่ 100% */
      height: auto;
}

.container{
      max-width: 1024px; /* มีขนาดสูงสุดแค่เพียง 1024px */
      margin-inline: 1.5rem; /* จัดการขอบรอบและระยะห่างในทิศทางแนวนอน */
}

.grid{
      display: grid; /* กำหนด auto แปลงตามขนาดหน้าจอ */
      gap: 1.5rem; /* กำหนดระยะห่าง */
}

.section{
      padding-block: 2.5rem; /* กำหนดระยะห่างระหว่างขอบรอบในแนวตั้ง 2.5rem */
}

.section-border{
      border-bottom: 1px solid var(--title-color);
      padding-bottom: 3.5rem;
}

.section-title,
.section-subtitle{
      text-align: center;
}

.section-title{
      font-size: var(--h1-size-font);
      font-weight: var(--center-font);
      margin-bottom: .25rem; /* พื้นที่ระยะห่างภายนอกด้านล่าง */
}

.section-subtitle{
      display: block;
      font-size: var(--reduced-size); /* ขนาดตัวอักษร small */
      color: var(--text-color-right); 
      margin-bottom: 3rem; /* พื้นที่ระยะห่างภายนอกด้านล่าง */
}

.main{
      overflow: hidden; /* ซ่อนวัตถุ | สำหรับภาพเคลื่อนไหว */
}

/* ส่วนหัว (header) | ส่วน (nav) */
header{
      width: 100%;
      position: fixed; /* สร้างองค์ประกอบที่ต้องการให้คงที่ที่ด้านบนของหน้าเว็บ  (เช่นเมนูหน้าบน) */
      bottom: 2rem;
      left: 0;
      z-index: var(--z-fixed);
}

.nav{
      height: calc(var(--header-height)+ .5rem); /* ระบุ calc()  เพื่อกำหนดความสูง (height) */
      display: flex;
      justify-content: space-between; /*ระยะห่างซ้ายและขวาและขนาด item เท่ากัน (ติดมุม)*/ 
      align-items: center;
      background-color: var(--body-color);
      box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1); /* กำหนดเงา */
      padding-inline: 1.5rem;
      border-radius: 3rem; /* ขอบมน */
}

ื.nav-nav-logo,
.nav-nav-toggle,
.nav-nav-close{
      color: var(--title-color);
}

.nav-nav-logo{
      font-family: var(--title-color);
      font-weight: var(--medium-font);
}

.nav-nav-toggle{ /* ปุ่มสลับ | ปุ่มเมณู */
      display: flex; /* กำหนดให้อยู่ในรูปแบบ flex */
      font-size: 1.25rem;
      cursor: pointer; /* เคอร์เซอร์เป็นลูกศรชี้ขึ้นเหนือเมื่อเอาเมาส์ไปวาง แสดงถึงความเรียบง่ายในการคลิก */
}

            /* หน้าจอ Tablet */
@media screen and (min-width: 767px) and (max-width: 1023px){
      .nav-nav-menu{
            position: fixed;
            width: 88%;
            left: 0;
            right: 0;
            bottom: 2rem;
            margin: 0 auto;
            background-color: var(--body-color);
            box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1); /* กำหนดเงา */
            padding: 2rem;
            border-radius: 2rem;
            transition: bottom .3s;
      }
}